{% extends 'app.html' %}

{% block content %} 

<div id="page" style="
background-image: url('/static/bkg/{{ background }}');
background-repeat: no-repeat;
background-size: cover;">
    <div id="overlay"></div>
    <div id="content">
        <div></div>
        <h1>{{ location }} <img src="{{ image }}" alt="Conditions"></h1>
        <div class="infos">
            <div class="info">
                <i class="bi {{ temp_icon }}"></i>
                <p>{{ temp }}°C</p>
            </div>
            <div class="info">
                <i class="bi {{ humidity_icon }}"></i>
                <p>{{ humidity }}%</p>
            </div>
            <div class="info">
                <i class="bi bi-wind"></i>
                <p>{{ wind_kph }} km/h <i class="bi bi-arrow-up-circle" style="display: inline-block; transform: rotate({{ wind_direction }}deg);" title="Direction du vent : {{ wind_direction }}°"></i></p>
            </div>
        </div>
    </div>
</div>
<footer>
    Romain Brocheton
</footer>
{% endblock %}