{% extends 'app.html' %}

{% block content %} 
<div class="container">
    <form action="action" method="post">
        <p class="lead">Ecrivez votre message :</p>
        <textarea class="form-control" name="text" id="" rows="3" required></textarea>
        <input class="btn btn-primary"type="submit" value="Boom">
    </form>

    <div class="result">
        {% if sentiment == 0 %}
            Ecrivez un texte dans le champs à droite pour lancer l'analyse.
        {% else %}
            {% if sentiment == "pos" %}
                <h2 class="pos">Ce message est positif !</h2>
                <img src="/static/image/positif.png">
            {% else %}
                <h2 class="neg">Ce message est négatif ...</h2>
                <img src="/static/image/négatif.png">
            {% endif %}
            <form id="reclassify" action="update" method="post">
                <div class="col-md-12">
                    <input type="hidden" name="text" value="{{ text }}">
                    <input class="align top" type="radio" name="result" value="1"> Estimation bonne<br/>
                    <input class="align" type="radio" name="result" value="0"> Estimation mauvaise<br/>
                    <input class="button" type="submit" value="Améliorer">
                </div>
            </form>
        {% endif %}
    </div>
</div>

{% endblock %}